/* datatable */

.datatable th {
    background-color: blueviolet;
    color: white;
}

.datatable td {
    text-align: right;
}


.datatable {
    position: relative;
    /* border-collapse: collapse;  */
}

.datatable th {
    position: sticky;
    top: 15vh;
    z-index: 99999;
    /* Don't forget this, required for the stickiness */
}